body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
}

header {
    background: whitesmoke;
    vertical-align: middle;
}

/*4. - Módosítsa a nav elemet úgy, hogy inline-blockot használjon, és szélessége körülbelül 80% legyen.*/
nav {
    display: inline-block;
    width: 80%;
}

/*5. -  Egy leszálló szelektor segítségével csak a navban lévő képet stilizáljuk úgy, hogy a szélessége körülbelül 10% legyen.
    FIGYELEM: a kép NEM a <nav>-ban van, hanem a <header> - ben!!
*/
header img {
    width: 10%;
    position: relative;
    top: 20px;
}

/* Ez csak a kiírás miatt van itt, egyébként semmi hatása nincs, mivel nem a navban van a kép... */
nav img {
    width: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    /* A példában van decoration! */
    /*text-decoration: none;*/

}

nav li {
    list-style-type: none;
}

/* -------------------------------------------------- */

main {
    background: #ccccff;
    font-size: 90%;
}


/* --- Neighborhood walks -------------------------------------------------- */

/*
 6. -  A grid osztályt úgy alakítsa ki, hogy két oszlopos rácsot használjon, ahol minden oszlop körülbelül 40%-os.
       Ne felejtse el, hogy egy osztályelem stílusához a szelektornak ponttal kell kezdődnie.
*/
.neighborhood-images {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
}

/*
 7. - Használd a descendent szelektor segítségével, hogy csak a grid osztályban lévő képeket stilizáld 100%-os szélességűre.
*/
.neighborhood-images img {
    width: 100%;
}

/* --- Michigan Parks -------------------------------------------------- */
.parks-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

/* A parks images 100px szélességű */
.parks-images img {
    width: 100px;
}
/* -------------------------------------------------- */


footer {
    background: #ccffcc;
}

/*3 . - Kommentelje ki a li elem meglévő stílusát.*/
/*li {
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 3rem;
    background: yellow;
    line-height: 3rem;
}
*/

h1 {
    font-family: monospace, sans-serif;
    text-align: center;
    color: darkblue;
}

